/*
 * Essential Styles
 */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*:before, *:after {
	content: "";
}
header:after, section:after, aside:after, footer:after, ul:after, .clearfix.after {
	display: table;
}
header:after, section:after, aside:after, footer:after, ul:after, .clearfix.after {
	clear: both;
}

/*
 * Default Widths
 */ 
.wrapper {
	max-width: 1200px;
	margin: $center;	
}
body:not(.page) {
	.post,
	.single-post-nav {
		width: percent(875px);
		float: left;	
	}
}
aside {
	width: percent(325px);
	padding-left: 50px;	
	float: right;
}