/*
 * Fonts
 */

@import '../mixins/_font-face';

@include font-face('Open Sans Reg', 'opensans-regular', 'opensans', 'serif');
@include font-face('Open Sans Ital', 'opensans-italic', 'opensans', 'serif');
@include font-face('Open Sans SBold', 'opensans-semibold', 'opensans', 'serif');
@include font-face('Open Sans SBold Ital', 'opensans-semibolditalic', 'opensans', 'serif');
@include font-face('Open Sans Bold', 'opensans-bold', 'opensans', 'serif');

$regular: Open Sans Reg;
$italic: Open Sans Ital;
$semibold: Open Sans SBold;
$semibolditalic: Open Sans SBold Ital;
$bold: Open Sans Bold; 

body {
	font-size: 16px;
	line-height: 170%;
	font-family: $regular;	
}
h1 {
	font-size: px(26)
}
h2 {
	font-size: px(22)
}
h3 {
	font-size: px(18)
}

a {
	&:hover {}
	&:active {}	
}