/*
 * Lists
 */
.post {
	ol, ul {
		padding-left: 1.4em;	
	}

	ol li {
		list-style: decimal-leading-zero;
		
		> ol > li {
			list-style: lower-alpha;
			
			> ol > li {
				list-style: lower-roman;	
			}	
		}	
	}
	ul li {
		list-style: disc;
		
		> ul > li {
			list-style: circle;
			
			> ul > li {
				list-style: square;	
			}	
		}	
	}
}